/* -------------------------------------------------------------------------- */
/* RESPONSIVE MEDIA QUERIES */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* SMALL BREAKPOINT (Landscape Phones and Up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 576px) {
  .ui-btn {
    display: inline-flex;
    width: auto;
    padding: 0.8rem 0.5rem;
  }
}

/* -------------------------------------------------------------------------- */
/* MEDIUM BREAKPOINT (Tablets 768px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  .ui-btn {
    display: inline-flex;
    min-width: 186px;
    padding: 1.5rem 1rem;
  }

  .navbar {
    padding: 1rem .5rem;
  }


  /* HERO ******************************************************************* */
  .hero {
    padding: 10px 20px;
    height: 600px;

    align-items: flex-start;

    &::before {
      background: rgba($color-light, 0);
    }

    .containerish {

      .section-info {
        margin-top: 3rem;
        text-align: left;
      }
    }
  }

  /* TEMPSURE *************************************************************** */
  .tempsure {
    background: url('../../img/tempsure-bg@2x.jpg') center / cover;
    padding: 40px 20px;

    .containerish {
      display: grid;
      row-gap: 1rem;

      .col-left {
        background: url('../../img/tempsure-info-bg@2x.jpg') center / cover;
        padding: 40px 20px;
        grid-row: 2;

        .ui-btn:not(:last-child) {
          margin-bottom: 1rem;
        }

        .ui-btn-white {
          color: $color-light-accent;
        }
      }
    }
  }

  /* SMARTLIPO ************************************************************** */
  .smartlipo {
    padding: 40px 20px;
    height: 600px;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color-light, .7);
    }

    .containerish {
      display: flex;
      justify-content: flex-end;

      .section-info {
        max-width: 450px;
        z-index: 20;
      }
    }
  }

  /* TATOO AND FACELIFT ***************************************************** */
  .tattoo-facelift {

    /* TATTOO REMOVAL */
    .tattoo-removal {
      padding: 40px 20px;

      .containerish {

        .section-info {
          text-align: center;
          max-width: 725px;
        }

        .section-img {
          height: 300px;
          background-attachment: fixed;
          margin-top: 2rem;
        }
      }
    }

    .facelift {
      .containerish {
        display: grid;
        row-gap: 1rem;

        .col-left {
          padding: 40px 20px;
          grid-row: 2;
        }

        .col-right {
          height: 400px;
        }
      }
    }
  }

  /* LASER HAIR ************************************************************* */
  .laserhair {
    padding: 40px 20px;
    height: 600px;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color-light, .7);
    }

    .containerish {
      display: flex;
      justify-content: flex-start;

      .section-info {
        max-width: 450px;
        z-index: 20;
      }
    }
  }

  /* APPOINTMENTS AND FEATURES ********************************************** */
  .appointments {
    background: url('../../img/appointment-bg@2x.jpg') center / cover;
    padding: 40px 20px;

    .containerish {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;

      .appointment-form {
        grid-column: 1 / -1;
        margin-top: 6rem;

        .appointment-wrapper {
          flex: 1;
          max-width: 665px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 1rem;

          button {
            grid-column: 1 / -1;
            justify-self: center;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* LARGE BREAKPOINT (Desktops 992px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {
  .ui-btn {
    display: inline-flex;
    padding: 1.3rem 0.3rem;
  }

  /* TOPBAR ***************************************************************** */
  .topbar {
    padding: .2rem 1rem;

    .containerish {
      grid-template-columns: max-content 1fr max-content;
      align-items: center;


      .col-mid {
        display: flex;
        justify-content: center;

        p {
          margin: 0;
          text-align: center;
        }
      }

    }
  }

  /* NAVBAR ***************************************************************** */
  .dropdown:hover>.dropdown-menu {
    display: block;
  }

  .nav-wrapper {
    background-image: linear-gradient(to right, rgba($color-white, 0) 50%, rgba($color-white, .8));
    position: relative;
    transition: all .3s ease-in-out;
    padding: .2rem 1rem;

    &.show {
      background: $color-white !important;
      transition: all .3s ease-in-out;
      box-shadow: 0 3px 6px rgba($color-black, .06);
    }

    .container {
      position: relative;

      .navbar {
        padding: .5rem 0;

        .navbar-brand {
          display: none;
        }
      }

      .desktop-logo {
        position: absolute;
        left: 0;
        top: 25px;
        width: 274.16px;
        height: 86.7px;
        z-index: 999;
        display: block;
      }
    }

  }


  /* HERO ******************************************************************* */
  .hero {
    padding: 10px 20px;
    height: 650px;

    align-items: flex-end;

    .containerish {

      .section-info {
        margin-bottom: 3rem;
        text-align: left;
      }
    }
  }

  /* SEARCH ***************************************************************** */
  .search {
    // background: $color-light;
    padding: 40px 20px;

    .containerish {
      display: grid;
      grid-template-columns: max-content 1fr max-content;
      grid-gap: 1rem;
      align-items: center;

      .form-control {
        border-radius: 0;
        margin-bottom: 0;
      }

      .form-control:not(button) {
        border: 1px solid #ededed;
      }

      ::placeholder {
        color: #3e3a42;
        font-family: $font-primary;
        font-size: 15px;
      }
    }
  }

  /* TEMPSURE *************************************************************** */
  .tempsure {
    padding: 50px 20px;

    .containerish {
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      column-gap: 1rem;

      .col-left {
        padding: 0 4rem;
        grid-row: 1;
        display: flex;
        align-items: center;

        .ui-btn {
          display: flex;
          max-width: 220px;
        }

        .ui-btn:not(:last-child) {
          margin-bottom: 1rem;
        }

        .ui-btn-white {
          color: $color-light-accent;
        }
      }

      .col-right {
        height: 600px;
      }
    }
  }

  /* SMARTLIPO ************************************************************** */
  .smartlipo {
    padding: 40px 20px;
    height: 800px;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color-light, 0);
    }

    .containerish {
      display: flex;
      justify-content: flex-end;

      .section-info {
        max-width: 450px;
        z-index: 20;
        margin-right: 4rem;
        margin-bottom: -8rem;
      }
    }
  }

  /* TATOO AND FACELIFT ***************************************************** */
  .tattoo-facelift {

    /* TATTOO REMOVAL */
    .tattoo-removal {
      padding: 80px 20px 40px 20px;

      .containerish {

        .section-info {
          text-align: center;
          max-width: 725px;
        }

        .section-img {
          height: 300px;
          background-attachment: fixed;
          margin-top: 2rem;
        }
      }
    }

    .facelift {
      .containerish {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        column-gap: 1rem;

        .col-left {
          padding: 0 4rem;
          grid-row: 1;
          grid-column: 2;
          display: flex;
          align-items: center;

          .ui-btn {
            display: flex;
            max-width: 220px;
          }
        }

        .col-right {
          height: 600px;
        }
      }
    }
  }

  /* LASERHAIR ************************************************************** */
  .laserhair {
    padding: 40px 20px;
    height: 800px;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color-light, 0);
    }

    .containerish {
      display: flex;

      .section-info {
        max-width: 450px;
        z-index: 20;
        margin-left: 4rem;
        margin-top: -8rem;
      }
    }
  }

}

/* -------------------------------------------------------------------------- */
/* EXTRA LARGE BREAKPOINT (Large Desktops 1200px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1200px) {

  /* HERO ******************************************************************* */
  .hero {
    padding: 10px 20px;
    height: 735px;

    align-items: flex-end;

    .containerish {

      .section-info {
        margin-bottom: 3rem;
        margin-left: 3rem;
        text-align: left;
        max-width: 515px;
      }
    }
  }

  /* APPOINTMENTS AND FEATURES ********************************************** */
  .appointments {
    background: url('../../img/appointment-bg@2x.jpg') center / cover;
    padding: 80px 20px;

    .containerish {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 1rem;

      .feature-1,
      .feature-2,
      .feature-3,
      .feature-4 {
        .section-info {
          padding: 1.5rem 2rem;
        }
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* MACBOOK PRO 15" BREAKPOINT (Large Desktops 1400px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1400px) {

  /* TOPBAR ***************************************************************** */
  .topbar {
    padding: .2rem 1rem;

    .containerish {
      grid-template-columns: 1fr max-content 1fr;
      align-items: center;


      .col-mid {
        display: flex;
        justify-content: center;

        p {
          margin: 0;
          text-align: center;
        }
      }

      .col-right {
        display: flex;
        justify-content: flex-end;
      }

    }
  }

  /* NAVBAR ***************************************************************** */
  .nav-wrapper {
    .container {
      .navbar {
        padding: .3rem 0 !important;
      }
    }
  }

  .nav-item {
    margin-right: 1.5rem;
  }

  /* TEMPSURE *************************************************************** */
  .tempsure {
    padding: 50px 20px;

    .containerish {
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 3rem;

      .col-left {
        padding: 0 4rem;
        grid-row: 1;
        display: flex;
        align-items: center;

        .ui-btn {
          display: flex;
          max-width: 220px;
        }

        .ui-btn:not(:last-child) {
          margin-bottom: 1rem;
        }

        .ui-btn-white {
          color: $color-light-accent;
        }
      }

      .col-right {
        height: 600px;
      }
    }
  }

  /* SMARTLIPO ************************************************************** */
  .smartlipo {
    padding: 40px 20px;
    height: 950px;
    display: flex;
    align-items: center;

    .containerish {
      display: flex;
      justify-content: flex-end;

      .section-info {
        max-width: 450px;
        z-index: 20;
        margin-right: 4rem;
        margin-bottom: -8rem;
      }
    }
  }

  /* TATOO AND FACELIFT ***************************************************** */
  .tattoo-facelift {

    /* TATTOO REMOVAL */
    .tattoo-removal {
      padding: 80px 20px;

      .containerish {

        .section-info {
          text-align: center;
          max-width: 725px;
        }

        .section-img {
          height: 300px;
          background-attachment: fixed;
          margin-top: 2rem;
        }
      }
    }

    .facelift {
      .containerish {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        column-gap: 3rem;

        .col-left {
          padding: 0 4rem;
          grid-row: 1;
          grid-column: 2;
          display: flex;
          align-items: center;

          .ui-btn {
            display: flex;
            max-width: 220px;
          }
        }

        .col-right {
          height: 600px;
        }
      }
    }
  }

  /* LASERHAIR ************************************************************** */
  .laserhair {
    padding: 40px 20px;
    height: 950px;
    display: flex;
    align-items: center;

    .containerish {
      display: flex;

      .section-info {
        max-width: 450px;
        z-index: 20;
        margin-right: 4rem;
        margin-bottom: -8rem;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* SUPER LARGE BREAKPOINT (IMAC STATUS 1900px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1900px) {
  .hero {
    height: 850px;
  }
}