/* ************************************************************************** */
/* ************************* Main Content Sections ************************** */
/* ************************************************************************** */

/* HERO ********************************************************************* */
.hero {
  padding: 40px 20px;
  background: url('../../img/hero-bg@2x.jpg') top / cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color-light, .7);
  }

  .containerish {
    z-index: 10;

    .section-info {
      text-align: center;
      max-width: 450px;
    }
  }
}

/* SEARCH ******************************************************************* */
.search {
  background: $color-white;
  padding: 40px 20px;

  .containerish {
    display: grid;

    .form-control {
      border-radius: 0;
      margin-bottom: 0.5rem;
      line-height: 0;
      border: none;
    }

    .form-control:not(button) {
      border: 1px solid #ededed;
    }

    ::placeholder {
      color: #3e3a42;
      font-family: $font-primary;
      font-size: 15px;
    }
  }
}

/* TEMPSURE ***************************************************************** */
.tempsure {
  background: url('../../img/tempsure-bg@2x.jpg') center / cover;
  padding: 40px 20px;

  .containerish {
    display: grid;
    row-gap: 1rem;

    .col-left {
      background: url('../../img/tempsure-info-bg@2x.jpg') center / cover;
      padding: 40px 20px;
      grid-row: 2;

      .ui-btn:not(:last-child) {
        margin-bottom: 1rem;
      }

      .ui-btn-white {
        color: $color-light-accent;
      }
    }

    .col-right {
      height: 400px;
      background: url('../../img/tempsure-img@2x.jpg') center / cover;
    }
  }
}

/* SMARTLIPO **************************************************************** */
.smartlipo {
  background: url('../../img/smart-lipo-bg@2x.jpg') center / cover;
  padding: 40px 20px;

  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color-light, .7);
  }

  .containerish {
    display: flex;
    align-items: center;

    .section-info {
      z-index: 20;
    }
  }
}